@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
  margin: 0;
  background-color: #f1f8fb;
}

body,
#root {
  height: 100vh;
  width: 100vw;
}

:root {
  --White: #ffffff;
  --Background: #f1f8fb;
  --Purple-Light: #e4d7ff;
  --Purple: #af8cf8;
  --Purple-Dark: #4c269a;
  --Gray: #acc1d5;
  --Dark-Gray: #000017;
  --Orange: #f18a51;
  --Red: #f15151;
  --Light-Gray: #e4e5e5;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  font-family: 'NanumSquare';
  font-style: normal !important;
}
